<h3>Example of reactive form</h3>
{{updated}}
<form [formGroup]="driverForm" *ngIf="model" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label class="center-block">
            Fio:
            <input class="form-control" formControlName="fio">
            <span *ngIf="fioControl && fioControl.invalid"
                  class="alert alert-danger">
                <span *ngIf="fioControl.errors.required">
                    Fio is required.
                </span>
                <span *ngIf="fioControl.errors.notUnique">
                    Fio is not unique.
                </span>
                <span *ngIf="fioControl.errors.minlength">
                    Fio must be at least 4 characters long.
                </span>
                <span *ngIf="fioControl.errors.restrictedwords">
                    restrictedwords
                </span>
                <span *ngIf="fioControl.errors.badFioValidator">
                    badFioValidator
                </span>
            </span>
        </label>
    </div>


    <div class="form-group">
        <mat-form-field>
            <mat-select [(value)]="selectedValueInSelect">
                <mat-option>None</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>

        <p>You selected: {{selectedValueInSelect}}</p>
    </div>

    <div class="form-group">
        <mat-form-field>
            <mat-select [(value)]="favoriteSeason">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let season of seasons" [value]="season">{{season}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason" [ngModelOptions]="{standalone: true}">
            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
            </mat-radio-button>
        </mat-radio-group>
        <div class="example-selected-value">Your favorite season is: {{favoriteSeason}}</div>
    </div>



    <div class="form-group">
        <mat-form-field>
            <input matInput placeholder="Phone number" formControlName="phone">
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>
    </div>
    <div class="form-group">
        <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
    </div>
    <button type="submit"
            [disabled]="driverForm.invalid" class="btn btn-success">
        Save
    </button>

    <p>Form value: {{ driverForm.value | json }}</p>
    <p>Form status: {{ driverForm.status | json }}</p>
    <p>fioControl.error: {{fioControl.errors| json}}</p>
    <p>Hr value for checkbox is: {{hr}} </p>
</form>

 

